<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Slimes - Enjoy the Grind</title>
    <style>
      .page-footer {
        background-color: #343a40;
        color: #ffffff;
      }

      .page-footer a {
        color: #ffffff;
      }

      
    </style>
</head>
<div class="container mb-10">
  <nav class="navbar navbar-expand-lg navbar-light bg-white rounded"> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://jimmyongresume.com/">Locations and Hours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/schedule">Schedule Class</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:contact@jimmyongresume.com">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</div>