<%- include('_header.ejs') %>
<body>
    <div class="container">
        <h1 class="mb-4"> New Course</h1>
        <form action="/app" method="POST">
        <%- include('_form_fields') %>
        </form>
    </div>
    
</body>
</html>